.App {
  text-align: center;
  margin-top: -15px;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}
#flags{
  position: absolute;
  top: 50px;
  z-index: 10;
}
.flagImg{
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}
button{
  font-family: 'Source Sans Pro';
  font-weight: 600;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-width: 174px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  line-height: 24px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}
.smallBut{
  padding: 1px;
  margin: 2px;
  min-width: 40px;
  height: 20px;
  line-height: 14px;
  font-size: 14px;
}
.but-primary-danger {
  background: #F95E5A;
  color: #FFFFFF;
}
.but-primary-danger:hover{
  background: #CC4C4C;
}
.but-primary-danger:active{
  background: #A53F3F;
}
.but-primary-danger:disabled{
  background: #FCAEAC;
  color: #FEEFEE;
}
.but-primary-neutral {
  background: #365DF0;
  color: #FFF;
}
.but-primary-neutral:hover{
  background: #2F55CC;
}
.but-primary-neutral:active{
  background: #244AA8;
}
.but-primary-neutral:disabled{
  background: #B9C6FA;
  color: #E1E7FD;
}
