.App {
  text-align: center;
  margin-top: -15px;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}
.flagImg{
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}
.smallBut{
  padding: 1px;
  margin: 2px;
  min-width: 40px;
  height: 20px;
  line-height: 14px;
  font-size: 14px;
}
/* .flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.red{
  color: red;
}

@media screen and (max-width: 1000px) {
  .App {
    text-align: center;
    width: 100%;
  }
  .inValue{
    width: 120px;
  }
}

/* button{
  font-family: 'Source Sans Pro';
  font-weight: 600;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-width: 100px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  line-height: 24px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
.but-primary-danger {
  background: #F95E5A;
  color: #FFFFFF;
}
.but-primary-danger:hover{
  background: #CC4C4C;
}
.but-primary-danger:active{
  background: #A53F3F;
}
.but-primary-danger:disabled{
  background: #FCAEAC;
  color: #FEEFEE;
}
.but-primary-neutral {
  background: #365DF0;
  color: #FFF;
}
.but-primary-neutral:hover{
  background: #2F55CC;
}
.but-primary-neutral:active{
  background: #244AA8;
}
.but-primary-neutral:disabled{
  background: #B9C6FA;
  color: #E1E7FD;
} */
