#internalNav{
  display: flex;
  justify-content: space-around;
}
.options{
  cursor: pointer;
  padding: 10px;
  width: 15%;
  background-color: #fff;
}
.chosen{
  background-color: rgb(181, 181, 243);
}
#form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#report{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.react-datepicker-wrapper{
  z-index: 0;
}
.register{
  background-color: #fff;
}
.bigger-responsive-table {
  position: relative;
  left: 80px;
}

@media screen and (max-width: 1000px) {
  #internalNav{
    display: flex;
    justify-content: space-around;
  }
  .options{
    padding: 2px;
    margin: 1px;
    /* width: 15%; */
    width: 25%;
  }
  .big-responsive-table {
    position: relative;
    left: 40px;
  }
  .bigger-responsive-table {
    position: relative;
    left: 180px;
  }
}

@media screen and (max-width: 900px) {
  .big-responsive-table {
    left: 90px;
  }
  .bigger-responsive-table {
    position: relative;
    left: 220px;
  }
}
